
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
$menu_WIDTH: 150px;


.bar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  .search-input:focus {

    width: 350px;
    background: #3b3640;
    border-radius: 10px;
    color: rgba(255,255,255,.5);
   ~ i{
      color: transparent;
     transition: .5s;
    }

  }
  i{
    display: flex;
    justify-self: center;
    position: absolute;
    padding: 10px;
pointer-events: none;
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;

  }

}

.bar input{
  padding: 10px;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 4px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 26px;
  color: transparent;
  outline: none;
  transition: 1s;
  &::placeholder{
    color:transparent;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;
}

li {

  background-color: #3b3640;
  border: 1px solid gold;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

li p {
  font-size: 20px;
  margin: 0;
}

