@use 'sass:color';

$mobile-view: 500px;

$object-fit-photo: cover;
$object-position-photo: center;

$green-main:#1abc9c;

$primary-color: #1a1a1a;
$secondary-color: #212121;
$text-color: #ffffff;
$button-color: #4CAF50;
