
<section class="py-5 my-5">
  <div class="container">
    <h1 class="mb-5">Account Settings</h1>
    <div class="bg-silver shadow rounded-lg d-block d-sm-flex">
      <div class="profile-tab-nav border-right">
        <div class="p-4">
          <h4 class="text-center">Kiran Acharya</h4>
        </div>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <div *ngIf="edit;else notEdit">

          <a #aRefacc (click)="toggleMenu(aRefacc)" class="nav-link" id="account-tab" data-toggle="pill" role="tab">
            <i class="fa fa-home text-center mr-1"></i>
            Account
          </a>
          <a #aRefpas (click)="toggleMenu(aRefpas)" class="nav-link" id="password-tab">
            <i class="fa fa-key text-center mr-1"></i>
            Password
          </a>
          </div>
          <ng-template #notEdit>


                <button class="btn btn-primary edit-button" (click)="toggleEdit()">Edit</button>


          </ng-template>
          <button class="btn btn-secondary" id="logout-tab" (click)="logOut()">Log out</button>
        </div>
      </div>
      <form *ngIf="user" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div [ngSwitch]="true" class="tab-content p-4 p-md-5" id="v-pills-tabContent">

        <div *ngSwitchCase="account===true"  class="tab-pane fade show active" id="account">
          <div class="row">
            <div class="col-md-6">
              <div  class="form-group">
                <label>First Name</label>
                <input *ngIf="edit;else firstname"
                       type="text"
                       class="form-control"
                       [formControlName]="'first_name'">
                <ng-template #firstname>
                  <br>
                  <label> {{user.first_name}} </label>
                </ng-template>

                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name</label>
                <input *ngIf="edit;else lastname" type="text" class="form-control" formControlName="last_name">
                <ng-template #lastname>
                  <br>
                  <label> {{user.last_name}} </label>
                </ng-template>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input *ngIf="edit;else email" type="text" class="form-control" formControlName="email">
                <ng-template #email>
                  <br>
                  <label> {{user.email}} </label>
                </ng-template>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone number</label>
                <input *ngIf="edit;else phone" type="text" class="form-control" formControlName="phone">
                <ng-template #phone>
                  <br>
                  <label> {{user.phone}} </label>
                </ng-template>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Username</label>
                <input *ngIf="edit;else username" type="text" class="form-control" formControlName="username">
                <ng-template #username>
                  <br>
                  <label> {{user.username}} </label>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="edit" class="footer-button">
            <button class="btn btn-primary submit-button">Update</button>
            <button class="btn btn-light" (click)="toggleEdit()">Cancel</button>
          </div>

        </div>


        <div *ngSwitchCase="account===false" class="tab-pane fade  show active" id="password">
          <h3 class="mb-4">Password Settings</h3>
<!--          <div class="row">-->
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>Old password</label>-->
<!--                <input type="password" class="form-control">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control" formControlName="password">
              </div>
            </div>
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>Confirm new password</label>-->
<!--                <input type="password" class="form-control" formControlName="confirm_password">-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div *ngIf="edit" class="footer-button">
            <button class="btn btn-primary submit-button">Update</button>
            <button class="btn btn-light" (click)="toggleEdit()">Cancel</button>
          </div>


        </div>


      </div>

      </form>
    </div>
  </div>
</section>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
