@use "variables" as *;

$padding-time:6px;
$width-main:1400px;
$blue:#428bca;
$blue-dark:darken($blue, 5%);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
}

.event-detail-cont {
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  //display: flex;
  //justify-content: space-evenly;
  align-items: center;
  max-width: $width-main;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .event-detail-element{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  h1 {
    margin-top: 0;
    margin-bottom: 10px;

    line-height: 4rem;
    font-size:3.25rem;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

    span {
      font-weight: 600;
    }
  }
}

}


main {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: $width-main;
  margin: 0 auto;
  margin-top: 20px;
  p {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

    span {
      font-weight: 600;
    }
  }

  .event-buttons {
    display: flex;
    margin-bottom: 3rem;
  }

  .event-book-button,
  .event-buy-button {
    display: inline-block;
    margin-right: 2rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .event-book-button:hover,
  .event-buy-button:hover {
    background-color: $color-white;
    color: black;
  }
}


.lookbook-gallery {
  .a11y-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .a11y-only.focusable:active,
  .a11y-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
  img {
    min-width: 10em;
    max-width: 100%;
    display: block;
    background: #ddd;
  }
  .model {
    margin: 0;
    position: relative;

    .model--caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      background-color: rgba(0,0,0,.85);
      padding: .35em 1.2em .25em .9em;
      justify-self: start;

      .model-hed {
        font-size: 1.25em;
        margin: .5em 0;
        font-family: Lora, serif;

        a {
          color: #fff;
          text-decoration-color: rgba(255,255,255,.5);
        }
      }
      p {
        font-size: .9375em;
        font-family: "Open Sans",sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #fff;
        line-height: 1.5;
        margin: 0 0 .5em 0;
      }
    }
  }
  @media( min-width: 45em ) {
    .lookbook-grid {
      display: flex;
      flex-wrap: wrap;
    }
    .model {
      flex: 47.5%;
      margin: .5%;
    }
  }
  @media( min-width: 65em ) {
    .model {
      flex: 24.25% 0;
      margin: .25%;
    }
    @supports( display: grid ) {
      .lookbook-grid {
        display: grid;
        grid-gap: .5em;
        grid-template-columns: repeat( 3, minmax( 200px, 1fr ) );
      }
      .model {
        margin: 0;
      }
      .model:nth-of-type(1) {
        grid-row-end: span 2;
        grid-column-end: span 2;
      }
    }
  }
}

#when-and-where{
  max-width: 820px;
}




.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 8px 8px calc(3 * $padding-time);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  img {
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: none;
  }
}
.detail__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.detail__heading {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1e0a3c;
  font-weight: 600
}

@media (min-width: 960px) {
  .detail__heading {
    font-size:1.125rem;
    line-height: 1.5rem
  }
}

.detail__heading h1,.detail__heading h2,.detail__heading h3,.detail__heading h4,.detail__heading h5,.detail__heading h6 {
  font-size: inherit;
  font-weight: inherit
}


@media (min-width: 792px) {
  .detail-grid {
    display:-webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 64px;

    padding-right: 64px;

  }

  .detail-grid>* {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 0
  }

  .detail-grid>:first-child {
    padding-right: calc(4*$padding-time)
  }

  .detail-grid>:not(:first-child) {

    padding-left: calc(4*$padding-time);
    position: relative
  }

  .detail-grid>:not(:first-child):before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    height: 40px;
    width: 1px;
    background-color: #dbdae3
  }
}

@media (min-width: 960px) {
  .detail-grid {

    padding-left: calc(3*$padding-time);

    padding-right: calc(3*$padding-time)
  }
}

@media (min-width: 1248px) {
  .detail-grid {
    padding-left:0;
    padding-right: 0
  }
}

@media (min-width: 792px) {
  .detail-grid .detail__inner {
    padding-left:0;
    padding-right: 0
  }
}

//.popup{
//  button{
//    background: $blue;
//    border: $blue-dark solid 1px;
//    border-radius: 3px;
//    color: #fff;
//    display: inline-block;
//    font-size: 14px;
//    padding: 8px 15px;
//    text-decoration: none;
//    text-align: center;
//    min-width: 60px;
//    position: relative;
//    transition: color .1s ease;
//    margin:10px;
//
//    &:hover{
//      background: $blue-dark;
//    }
//
//    &.btn-big{
//      font-size: 18px;
//      padding: 15px 20px;
//      min-width: 100px;
//    }
//
//  }
//
//}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}


.box select option {
  padding: 30px;
}


.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: .8rem;

  color: $light;
  background: $background-modal;
  box-shadow: $shadow-2, .4rem .4rem 10.2rem .2rem $shadow-1;
  position: relative;

  overflow: hidden;
  p{
    font-size: 1.6rem;
  }
}

.modal__title {
  font-size: 3.2rem;
}

.modal__text {
  padding: 0 4rem;
  margin-top: 4rem;

  font-size: 1.6rem;
  line-height: 2;
}

.modal__btn {
  margin-top: 4rem;
  padding: 1rem 1.6rem;
  border: 1px solid $border-color;
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
}

.modal__btn:nth-of-type(1) {
  margin-right: 1rem;
}

.modal__btn:hover,
.modal__btn:focus {
  background: $focus;
  border-color: $focus;
  transform: translateY(-.2rem);
}
