<div class="event-detail-cont" *ngIf="event$ | async as event">
  <div class="lookbook-gallery">
    <div class="lookbook-grid" role="region">
    <figure class="model" *ngFor="let index of [0,1,2]">
      <img [src]="findImage(event.image)" alt="Event Photo" class="event-photo">
    </figure>

<!--        <figcaption class="model&#45;&#45;caption">-->
<!--          <h3 class="model-hed">Scores Baserunner</h3>-->
<!--          <p>Scores is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.-->
<!--          <p>-->
<!--        </figcaption>-->

         </div>
  </div>
  <div class="event-detail-element">
    <p><span>{{event.date | date:"MMM dd"}}</span></p>
    <h1>{{event.name}}</h1>

    <!--  <p>Time: <span>{{event.}}</span></p>-->

  </div>
  <section aria-labelledby="when-and-where" class="event-details__section">
    <div id="when-and-where" class="tab-navigation-section">
      <div class="event-details__main-inner">
        <div class="event-details__section-title"><h2>When and where</h2></div>
      </div>
      <div class="detail-grid">
        <section aria-labelledby="date-time-heading">
          <div class="detail">

              <div class="detail__icon"><i class="eds-vector-image eds-icon--small eds-vector-image--block"
                                           data-spec="icon" data-testid="icon" aria-hidden="true"><img
                src="assets/img/calendar.svg"></i></div>
              <div class="detail__content">
                <div class="detail__heading"><h3 id="date-time-heading">Date and time</h3></div>
                <p><span class="">{{event.date|date:"EEEE, MMMM d, y, h:mm a"}}</span></p></div>
            </div>
        </section>
        <section aria-labelledby="location-heading">
          <div class="detail">

              <div class="detail__icon">
                <img src="assets/img/location.svg">
              </div>
              <div class="detail__content">
                <div class="detail__heading"><h3 id="location-heading">Location</h3></div>
                <p><strong>{{event.address}}</strong> mytna sq, 1 79000 Lviv</p>
              </div>

          </div>
        </section>
      </div>
    </div>
  </section>
</div>
<main>
  <div class="event-buttons">
    <button class="event-buy-button" (click)="bookTicket()">Buy</button>
  </div>
  <p>Description: <span>A one-day conference for women in technology featuring keynote speakers, workshops, anerence for women in technology featuring s, ce for women in technology featuring s, workshops, anerence for women in technology featuring keynote speakers, workshops, and networking opportunities.</span>
  </p>
</main>
<app-popup id="modal-1">
  <div class="modal">
    <h1 class="modal__title">you are not registered</h1>

    <p>
      go to login
    </p>
    <button class="modal__btn go-to-login" (click)="goToLogin()">Login</button>
    <button class="modal__btn" (click)="popupService.close()">Close</button>
  </div>

</app-popup>

<app-popup id="modal-2">
    <div class="modal">
      <h1 class="modal__title">Select ticket</h1>


      <div class="select">

      <select [(ngModel)]="selectedSeat">
        <option *ngFor="let opt of eventSeat">{{opt}}</option>
      </select>

        </div>
      <br>
      <div class="select">
      <select [(ngModel)]="selectedAction">
        <option value="booked">Book</option>
        <option value="bought">Buy</option>
      </select>
    </div>
    <button class="modal__btn buy-btn" (click)="buyTicket()">Buy</button>
    <button  class="modal__btn" (click)="popupService.close()">Close</button>
    </div>

</app-popup>
