$mobile-breakpoint: 784px;
$object-fit-photo: cover;
$object-position-photo: center;

@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/E-Ukraine-Regular.otf') format("otf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #1D1E26 0%, #25273C 100%);
  font-family: 'e-Ukraine', sans-serif;
  height: 100vh;
  margin: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  font-size: 18px;

  .logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }

  .navbar-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;

    &:hover {
      color: #ccc;
    }
  }

  .button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
  }

  .login-button {
    margin-right: 20px;
  }

  .menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;

    &:hover {
      color: #ccc;
    }
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 100%;
    background-color: #333;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      border-bottom: 1px solid #fff;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #007bff;
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .navbar-links {
      display: none;
    }

    .menu-icon {
      display: block;
    }

    .navbar-menu {
      max-height: 0;
      transition: max-height 0.3s ease-in-out;

      &.expanded {
        max-height: 400px;
      }

      a {
        border-bottom: none;
      }
    }

    .button {
      margin-right: 10px;
    }
  }
}

.events-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.event-details {
  background-color: #222;
  border: 2px solid #1abc9c;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
}

.event-header {
  background-color: #1abc9c;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.event-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.event-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.event-info {
  flex: 1;
}

.event-info-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.event-info-label {
  color: #1abc9c;
  font-weight: bold;
  margin-right: 10px;
}
.event-photo {
  width: 100%;
  max-height: 300px;
  object-fit: $object-fit-photo;
  object-position: $object-position-photo;
}


