<header class="navbar">
  <div class="logo">
    <a href="#">MyTicket</a>
  </div>
  <div class="navbar-links">
    <a routerLink="/events">Events</a>
    <a routerLink="/ticket">Ticket</a>
    <input type="text" placeholder="Search by"/>
  </div>

  <button *ngIf="(!userLogged); else loggedIn" class="button">Login</button>
  <ng-template  #loggedIn> <img routerLink="/account" src="assets/img/person-svg.svg" width="100%"/></ng-template>

  <div class="menu-icon">☰</div>
  <div class="navbar-menu">
    <a href="#">Events</a>
    <a href="#">Ticket</a>
  </div>
</header>
