<header class="navbar">
  <div class="logo">
    <a href="#">MyTicket</a>
  </div>
  <div class="navbar-links">
    <a routerLink="/events">Events</a>
    <a routerLink="/ticket">Ticket</a>

  </div>
  <div class="searchbar">

    <app-dropdown-search></app-dropdown-search>
  </div>

  <button *ngIf="isLoggedIn$| async; else loggedIn" class="button" routerLink="/login">Login</button>
  <ng-template  #loggedIn> <img routerLink="/account" src="assets/img/person-svg.svg" width="100%"/></ng-template>

  <div class="menu-icon">☰</div>
  <div class="navbar-menu">
    <a href="#">Events</a>
    <a href="#">Ticket</a>
  </div>
</header>
