<header class="navbar">
  <div class="logo">
    <a href="#">MyTicket</a>
  </div>
  <div class="navbar-links">
    <a routerLink="/events">Events</a>
    <a routerLink="/ticket">Ticket</a>

  </div>
  <div class="searchbar">

    <app-dropdown-search></app-dropdown-search>
  </div>

  <button *ngIf="isLoggedIn$| async; else loggedIn" class="button" routerLink="/login">Login</button>
  <ng-template  #loggedIn>
    <div class="image-container">


    <img *ngIf="permissionBool===Permission.admin" routerLink="/admin/users" src="assets/img/admin-logo.svg" width="100%" alt=""/>

    <img routerLink="/account" src="assets/img/person-svg.svg" width="100%" alt=""/>
    </div>
  </ng-template>
  <div class="mat-meny">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>

  <mat-menu #menu="matMenu">
    <button routerLink="/events" mat-menu-item>Event</button>
    <button routerLink="/ticket" mat-menu-item>Ticket</button>
  </mat-menu>
  </div>
</header>
