.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: #fff;
}

/* Error code styles */
.error-code {
  font-size: 10rem;
  margin-bottom: 20px;
}

/* Error message styles */
.error-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

/* Back home link styles */
.back-home {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.back-home:hover {
  background-color: #fff;
  color: #212121;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .error-code {
    font-size: 6rem;
  }

  .error-message {
    font-size: 1.5rem;
  }

  .back-home {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
